<!-- 
<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-3 text-center justify-content-center">
            <div class="col-md-12 col-lg-12 mb-6 mb-md-0">
                <h1 class="display-7 fw-bold mb-4 position-relative home-title">
                    At NoteEase, we believe that capturing and organizing your thoughts should be a seamless and enjoyable experience. Our note creating website is designed to be the ultimate platform for users from all walks of life, whether you're a student, professional, creative thinker, or someone who simply loves jotting down ideas.
                </h1>
            <a href="/" class="btn btn-primary btn-lg">
               Explore Notes
            </a>
        </div>
    
    </main>
    </div>
     -->

     <div class="p-4 mb-1 rounded-3">
        <div class="container-fluid py-2">
          <h1 class="display-5 fw-bold">Welcome To NoteEase</h1>
          <p class="col-md-8 fs-4"> At NoteEase, we believe that capturing and organizing your thoughts should be a seamless and enjoyable experience. Our note creating website is designed to be the ultimate platform for users from all walks of life, whether you're a student, professional, creative thinker, or someone who simply loves jotting down ideas.</p>
          <a href="/auth/google" class="btn btn-primary btn-lg">
            Try NoteEase, it's FREE!
        </a>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 rounded-3">
            <h2>Our Mission</h2>
            <p class="fs-5">At NoteEase, our mission is to empower individuals to unlock their full potential by providing an intuitive, feature-rich, and secure note-taking solution. We understand that taking notes is more than just writing words on a page; it's about preserving ideas, capturing moments of inspiration, and fostering creativity. With NoteEase, we aim to make note-taking effortless, so you can focus on what truly matters in your life and work.</p>
            <a href="/" class="btn btn-primary btn-lg">
                Explore Notes
             </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 rounded-3">
            <h2>Join the NoteEase Community</h2>
            <p class="fs-5">We invite you to join the vibrant and growing community of note-takers who have already discovered the joy of using NoteEase. Whether you're a student striving for academic excellence, an entrepreneur with big dreams, or someone who loves to document life's precious moments, NoteEase is here to be your reliable companion on your journey.</p>
            <a href="/auth/google" type="button" class="btn btn-primary btn-lg">Sign-up</a>
          </div>
        </div>
      </div>